body {
  margin: 0;
  padding: 0;
  background-color: #333;
  overflow-y: hidden;
  font-family: Helvetica, Arial
}
.container {
  position: relative;
  width: 100%;
  height: 100vh;
}
.title {
  position: absolute;
  top: 10px;
  left: 30px;
  background: rgba(255,255,255, .7);
  z-index: 1000;
}
.legend {
  display: inline-flex;
  position: absolute;
  left: 5px;
  bottom: 10px;
  padding: 10px;
  z-index: 1000;
}
.legend-color {
  height: 15px;
  width: 15px;
  margin-right: 5px;
}
.legend-text {
  margin-right: 10px;
  color: #eee;
  font-size: 10px;
  text-align: center;
}

/* MAP */
#mapid {
  height: 100vh;
  width: 100%;
}
.mapboxgl-popup {
  max-width: 400px;
  z-index: 1500;
  opacity: .8
}
.mapboxgl-popup p {
  margin: 0;
}

/* MEDIA */
@media screen and (max-width: 900px) {
  .title {max-width: 50%;}
}
@media screen and (max-width: 600px) {
  .title {display: none;}
}
